extends layout

block hero-unit
  div(class='slideshow')
    img.active(src="/images/seoul.jpg")
    img(src="/images/london.jpeg")
    img(src="/images/hawaii.jpg")
    img(src="/images/australia.jpg")
    img(src="/images/beach.jpeg")

  div(class='indicator')
    ul
      li(class='active')  
      li
      li
      li
      li
    .container

  
      
block content
  .container
    .row
      .col-md-6
        h3 우영 트립이란?
        p 본 서비스는 여행객과 가이드를 이어주는 플랫폼입니다.
      .col-md-6
        h3 크리스마스 이벤트
        ul
          li 가이드 한명에게 6명 이상 예약할 경우 반값세일

  script(src="https://unpkg.com/jquery@3.2.1/dist/jquery.js")
  script(src="/javascripts/slideshow.js")


