
#tab {
  border-collapse: collapse;
  border-spacing: 0;
}
td.tab, th.tab{
  border: 1px solid #444;
 
  padding: 5px;
}
thead.tab tr.tab, tfoot.tab tr.tab {
  background: #888;
  color: #fff;
}
tbody.tab tr.tab {
  background: #eee;
}
span.price {
  display: box;
  text-align: right;
  width: 200px;
  font-weight: bold;
}