extends ../layout

block content
  .container
    h1.main-title Travel
    table.table.table-hover
      thead
        tr
          th Name
          th Email
          th Usertype
          th Created At
          th
    a.btn.btn-primary(href='/travelings/new') #[i.fa.fa-plus] Register a new traveling

