.form-group
  label(for="title") Title
  input.form-control(type="text", name="title", placeholder="Write down the title", value=question.title)
.form-group
  label(for="question") Content
  textarea.form-control(name="content", rows="5")= question.content